<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout/default" lang="ko">
<div  layout:fragment="content">
	<div class="container-fluid" style="padding-top: 25%;">
		<div id="loading" style="display: none;">
			<img id="loading-image"  th:src='@{/images/ajax-loader.gif}'  alt="Loading..."  style="width: 100%; height:20px;  margin-bottom: 30px;"/>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<form class="form-horizontal" style="font-size: 11pt;">
					<div class="form-group" > 
						<label for="shippingDays" class="col-xs-3 col-sm-2 control-label padTop4 text-muted">출고기간</label>
						<div class="col-xs-9 col-sm-10">
							 <div class='input-group date  input-daterange' >
					            <div class='input-group date' >
					                <input type='text' class="form-control"  id="shippingDays_start"/>
					            </div>
						            <span class="input-group-addon">-</span>
					             <div class='input-group date' >
					                <input type='text' class="form-control"  id="shippingDays_end"/>
					            </div>
				            </div>
			            </div>
					</div>
					<div class="form-group">
						<label for="salesArea" class="col-xs-3 col-sm-2 control-label padTop4 text-muted" style="padding-right: 0;">영업지역</label>
						<div class="col-xs-9 col-sm-9">
							<select class="form-control selectpicker"  id="sales_area_sel"  >
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="account" class="col-xs-3 col-sm-2 control-label padTop4  text-muted">거래처</label>
						<div class="col-xs-9 col-sm-9">
							<div class='input-group' >
								<input type="text"  class="form-control" id="farm"/>
								<span class="input-group-btn">
									<button type="button"  class="btn btn-default" id="farm_search" data-toggle="modal" data-target="#search_popup"  >
										<i class="fa fa-search" aria-hidden="true"></i>&nbsp;검색
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" style="padding-right: 20px;">
						<button type="button" class="btn btn-info col-xs-offset-8 col-xs-4 col-sm-offset-4 col-sm-4" id="shipping_relate_confirm">
							<i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp;조회
						</button>
					</div>
				</form>
				<div class="row">
					<div class="table-responsive">
						<table id="shipping_performance_grid" class="table table-condensed" data-paging="true" style="font-size: 15px; margin-bottom: 30px;"></table>
					</div>
				</div>
				<div class="row">
					<div class="btn-group text-center"  role="group" style="padding-left: 10px;">
						<button type="button"  class="btn btn-default"  id="go_partner_info" >
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
							고객정보&nbsp;
						</button>
						<button type="button"  class="btn btn-default"  id="go_menu" >
							<i class="fa fa-list" aria-hidden="true"></i>&nbsp;
							메뉴
						</button>
						<button type="button"  class="btn btn-default"  id="go_dealing_costomer" >
							거래처 별 거래내역&nbsp;
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="modal fade"  id="search_popup">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">고객 정보 검색</h4>
				      </div>
				      <div class="modal-body">
				        <div th:replace="/mobile/breedingPig/partner_search_popup:: partnerSearch" ></div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-info" id="modal_confirm">확인</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		</div>
	</div>
<script th:inline="javascript">
/*<![CDATA[*/
var shippingPerformance = {
	grid: null,
	data: null,
}
	
$(document).ready(function() {
	shippingRelates();
});

function shippingRelates() {
	$("#farm").css("height", $("#farm_search").css("height"));
	setTitle("출하 실적");
	commonSelectInit('CG_BS_0010', '#sales_area_sel', '0');
	shippingPerformanceControles();
	shippingPerformanceGridInit();
	partnerInit();
	shippingPerformanceEventBind();
}

function shippingPerformanceControles() {
	var today = new Date();
	var todayStr = today.getFullYear() + "-" + setTwinNum(today.getMonth() + 1) + "-" + setTwinNum(today.getDate());
	$('#shippingDays_start').datetimepicker({
		useCurrent: false,  
		format: "YYYY-MM-DD",
		widgetPositioning: {
            horizontal: 'left',
            vertical: 'bottom'
        }
	 });
	
    $('#shippingDays_end').datetimepicker({
    	format: "YYYY-MM-DD"
    });
    
    $('#shippingDays_start').val(todayStr);
    $('#shippingDays_end').val(todayStr);
    
    $('#shippingDays_start').data("DateTimePicker").maxDate(today);
    
    $("#shippingDays_start").on("dp.change", function (e) {
        $('#shippingDays_end').data("DateTimePicker").minDate(e.date);
    });
    $("#shippingDays_end").on("dp.change", function (e) {
    	if(today > e.date) {
	    	$('#shippingDays_start').data("DateTimePicker").maxDate(e.date);
    	} else {
    		$('#shippingDays_start').data("DateTimePicker").maxDate(today);
    	}
    });

}

function shippingPerformanceForGetData() {
	var returnObj = new Object();
	returnObj.FunctionID = "UP_CG_MOB_SHIP_TEMP_R";
	returnObj.P_CD_COMPANY = userInfo().CD_COMPANY;
	returnObj.P_dt_ship_from = $("#shippingDays_start").val().replace(/-/gi, '').trim();
	returnObj.P_dt_ship_to = $("#shippingDays_end").val().replace(/-/gi, '').trim();
	returnObj.p_id_biz_person = $("#sales_area_sel").val() == "0" ? "" : $('#sales_area_sel').val();
	returnObj.p_cd_partner = $("#farm").attr("name");
	
	return returnObj;
}

function shippingPerformanceSearch(bodyObj) {
	commonAjaxForGetData(bodyObj, function(data) {
		shippingPerformance.data = data.UP_CG_MOB_SHIP_TEMP_R;
		shippingPerformance.grid.loadRows(shippingPerformance.data);
		$("#loading").hide();
	});
}

function shippingPerformanceGridInit() {
	$('#shipping_performance_grid').footable({
		"empty": "조회된 정보가 없습니다.",
		"paging": {
			"size": 5
		},
		"columns": [
			{
				title: '출고기간',
				name: 'DT_SHIP_PLAN',
				style:{
					"width": "80px",
					"text-align": "center"
				},
				formatter: function(value, options, rowData) {
					return makeDateFormat(value);
	            }
			}, {
				title: '영업지역',
				name: 'CD_ZONE',
				style:{
					"width": "80px",
					"text-align": "center"
				}
			}, {
				title: '출고지',
				name: 'NM_FARM_SUB',
				style:{
					"width": "100px",
				}
			}, {
				title: '거래처',
				name: 'NM_PARTNER',
				style:{
					"width": "100px",
				}
			}, {
				title: '품목',
				name: 'NM_NICK',
				style:{
					"width": "80px",
					"text-align": "center"
				}
			}, {
				title: '두수',
				name: 'QTY_SALE',
				style:{
					"width": "50px",
					"text-align": "right"
				}
			}, {
				title: '체중',
				name: 'WEI_SALE',
				style:{
					"width": "80px",
					"text-align": "right"
				},
				formatter: function(value, options, rowData) {
					return addComma(value);
	            }
			}, {
				title: '평균체중',
				name: 'WEI_AVR',
				style:{
					"width": "80px",
					"text-align": "right"
				},
				formatter: function(value, options, rowData) {
					return addComma(value);
	            }
			}, {
				title: '물류계장',
				name: 'NM_DRIVER',
				style:{
					"width": "80px",
					"text-align": "center"
				}
			}, {
				title: '항생제',
				name: 'NM_ANTIBIO',
				style:{
					"width": "180px",
				}
			}
		],
		"rows": []
	});
	shippingPerformance.grid = FooTable.get('#shipping_performance_grid');
}

function shippingPerformanceEventBind() {
	$("#search_popup").on('shown.bs.modal', function () {
		$("#ln_partner").val($("#farm").val());
	});
	
	$("#modal_confirm").click(function() {
		if($('input:radio[name="selectRadio"]:checked').val() == undefined) {
			bootalert("거래처를 선택해 주세요.");
			return false
		} else {
			if($('input:radio[name="selectRadio"]:checked').val() != undefined) {
				var index = $('input:radio[name="selectRadio"]:checked').val()*1;
				var rowData = partner.grid.rows.all[index].value
				$("#farm").val(rowData.NM_CEO + "[" + rowData.NM_CITYGU + "]");
				$("#farm").attr("name", "");
				$("#farm").attr("name", rowData.CD_PARTNER);
				$("#sales_area_sel").val(rowData.ID_BIZ_PERSON);
				$("#sales_area_sel").selectpicker('refresh');
			}
			$("#search_popup").modal('hide');
		}
	});
	
	$("#shipping_relate_confirm").click(function() {
		if($("#farm").val() == "") {
			$("#farm").attr("name", "");
		}
		$("#loading").show();
		shippingPerformanceSearch(shippingPerformanceForGetData());
	});
	
	$("#go_partner_info").click(function() {
		location.href = "/sales/partner";
	});
	
	$("#go_menu").click(function() {
		location.href = "/menu";
	});
	
	$("#go_dealing_costomer").click(function() {
		location.href = "/sales/dealing_by_customer";
	});
}
/*]]>*/
</script>
</div>
</html>